ol, ul {
	line-height:125%;
	margin:0.5em 0 0 15px;
	padding:0;
}
li{list-style-type:none;}
h3{
	background-color:#E5ECF9;
	border-bottom:medium none;
	border-top:1px solid #3366CC;
	margin:0 8px 1em 0;
	padding:2px;
}

#themePreview{
	-webkit-box-shadow: #AAA 0px 0px 8px;
	margin:5px;
	padding:3px;
	width:100px;
	height:100px;
	cursor: url(/images/big.cur), auto;
}
#facebox img{max-width:none;}
#facebox .image a{display:none;}

.messageInfo{
   width: 320px;
   margin: 2px 0;
   padding: .5em;
   background: #ffa;
   border: 1px solid #a00;
   color: #a00;
   font-weight: bold;
   display: none;
}

#msgInfoWarp{
	right:20px;
	position:fixed;
	top:0;
}