
body #fa_wave_msg_wrap{
   position:fixed;
   z-index: 100000;
   top:0;
   right:0;
   font-size:12px;
}
body #fa_wave_msg_wrap .close_fawave_remind{
	display: block;
	background: #E7F9FF;
	border: 1px solid #A8E4FA;
	color:green;
	text-align: center;
}
body #fa_wave_msg_wrap .msgRemind{
   text-align:left;
   width: 350px;
   min-height:50px;
   margin: 2px;
   background: #F8F8F8;
   color: #2B4A78;/*#a00;*/
   line-height: 18px;
	margin:5px 0;
	color:#222;
	position:relative;
	background:#fff;
	padding:8px 8px 6px;
	word-wrap:break-word;
	border-width:1px;
	border-style:solid;
	border-color:#ddd #ddd #eee #ddd;
	-webkit-border-radius:6px;
	-webkit-box-shadow:0 1px 1px #bbb;
}

body #fa_wave_msg_wrap .msgRemind .usericon{
	float: left;
	margin: 2px 0px 0px 2px;
}

body #fa_wave_msg_wrap .msgRemind .maincontent {
	margin:0 2px 0 60px;
}

body #fa_wave_msg_wrap .msgRemind .maincontent .retweeted{border-left:5px solid #487858;border-top:dashed 1px #ddd;margin:0px 0px 5px 8px;padding:3px 0 0 2px;}

body #fa_wave_msg_wrap .msgRemind .maincontent .pic{
	padding: 3px;
	margin:2px;
	-webkit-box-shadow: #AAA 0px 0px 5px;
}

body #fa_wave_msg_wrap .msgRemind .username{color:green;font-weight: bold;}