
* { margin:0; padding:0;} 
body { font-family: "微软雅黑", "雅黑", "Arial"; font-size:12px; /*color:#049; padding:8px;*/ width:480px; color:#182A58;overflow-y:auto;overflow-x:hidden;}
a { text-decoration:none; color:#049;} 
a:hover { text-decoration:underline;}
ul { list-style:none;} 
li { line-height:16px;} 
.warp { width:480px; /*border:1px solid #ace;*/ padding-bottom:10px;} 
.list_warp { margin:0; height: 470px; overflow:auto;} 
.tabs { overflow:hidden; background:#f1f7fc;height:24px;}
.tabs li {line-height:23px; height:23px; border:1px solid #ace; border-width:0 1px 1px 0; background:#f1f7fc; padding:0 5px; text-align:center; float:left; cursor:pointer;} 
.tabs li.active { background:#fff; border-bottom-color:#fff; font-weight:bold;} 
.tabs li.tab-r { /*width:118px; border-right:0; text-align:right;*/ padding-right:10px;} 
.tabs li.tab-r a { color:#F06; font-weight:bold; font-family:Georgia;}


#txtContent{resize: none;}
#diguReplies { display:none;}

#changeUser{float:right; margin-right:20px; padding:0; font-size:12px;}
#changeUser:hover{cursor:pointer;background-color:#fff;}
#changeUser .userName{font-weight:bold;}
#changeUser div{
	right: 20px;
	position:absolute;
}
#changeUser li{ float:none; border:solid 1px #AACCEE;}
#changeUser li.current{ list-style-type:disc;}

#submitWarp{border-bottom:solid 1px #AACCEE;}
#submitWarp input{border:solid 1px #AACCEE;}
#btnSend{border:solid 1px #AACCEE; padding:0 5px;}
#wordCount{float:right;font-size:13px;font-weight: bold;}

.doing{position:absolute; left:3px; top:1px;}
.padDoing{padding-left:18px;color:#ccc;}
.unreadCount{color:red;}
.imgicon{cursor: url(../images/big.cur), auto;}

#msgInfoWarp{
   position:absolute;
   bottom:0;
}
.messageInfo{
   width: 380px;
   margin: 2px 0;
   padding: .5em;
   background: #ffa;
   border: 1px solid #a00;
   color: #a00;
   font-weight: bold;
   display: none;
}
#loading{
	position:absolute;
	/*top:1px;*/
	right:5px;
}

#facebox_overlay, .cur_min{cursor:url(../images/small.cur), auto;}

/*>>>> reply start <<<<*/
#ye_dialog_window {
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	background-color:#FFFFFF;
	border:1px solid #666666;
	display:none;
	min-height:230px;
	left:10px;
	padding-bottom:8px;
	position:fixed;
	top:30%;
	z-index:1000;
}
#ye_dialog_close {
	background: url(../images/close.gif) no-repeat;
	color: black;
	display: block;
	height: 13px;
	position: absolute;
	right: 9px;
	text-decoration: none;
	top: 7px;
	width: 13px;
}

#ye_dialog_title {
	color:#333333;
	font-size:14px;
	font-weight:bold;
	height:28px;
	line-height:25px;
	padding:0 10px;
}
#ye_dialog_body {
	width:100%;
}
#replyInputCount{color:#999999}
.replyDialog {
	margin:10px;
}
.replyDialog .uTextarea {
	background:#FFFFFF url(../images/dot.gif) repeat-x scroll 0 -1px;
	border:1px solid #999999;
	font-size:13px;
	height:150px;
	margin-bottom:10px;
	overflow-y:auto;
	padding:5px;
	width:380px;
}
/*>>>> reply end <<<<*/

/*>>>> face start <<<<*/
.clearFix{ display:block;}
.clearFix:after {content:"."; display:block;visibility:hidden;height:0;clear:both;}
.layerMedia_close a.close {background:url(../images/sicon.gif) no-repeat scroll -18px 0;float:right;height:8px;overflow:hidden;width:7px;}
.layerMedia_close a.close:hover{background:transparent url(../images/sicon.gif) no-repeat scroll -18px -8px;}
.layerArrow{ width:16px; height:8px; overflow:hidden; position:absolute; left:134px; top:-8px; background:url(../images/layerArrow.gif) no-repeat left top; }
.layerBox{border:1px solid #A0A0A0;background:#fff; position: absolute; z-index: 1001; zoom: 1; }
.layerBox .layerBoxTop{height:27px; line-height:27px; padding:1px;}
.layerBox .layerBoxTop .topCon{ background:url('../images/layerctbg.gif') repeat-x; height:27px; line-height:27px; padding:0 10px;}
.layerBoxTop .topCon strong{float:left;font-weight:bold;}
.layerBoxTop .topCon span{float:right;padding-right:20px;}
.layerBoxTop a.close{float:right; background:url('../images/sicon.gif') no-repeat -18px 0; width:7px; height:8px; margin-top:9px; overflow:hidden;}
.layerBoxTop a.close:hover{background:url('../images/sicon.gif') no-repeat -18px -8px; overflow:hidden;}
.faceItem{ padding:10px 10px 5px; position:relative;}
.faceItem .layerArrow{ left:25px;}
.faceItem .faceItemPicbg{ width:330px;}
.faceItem .faceItemPicbg li{ float:left; height:28px; width:28px; padding:0px 5px 5px 0px;}
.faceItem .faceItemPicbg li a:link,.faceItem .faceItemPicbg li a:visited{ width:26px; height:26px; text-align:center; display:block; border:1px dashed #ddd;}
.faceItem .faceItemPicbg li a:hover{ border:1px dashed #999;}
/*>>>> face end <<<<*/